@using MvcCv.Models.Entity
@model List<TblDeneyimlerim> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Deneyim Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var p in Model)
    {
<tr>
    <td>@p.ID</td>
    <td>@p.Baslik</td>
    <td>@p.AltBaslik</td>
    <td>@p.Tarih</td>
    <td><a href="/Deneyim/DeneyimSil/@p.ID" class="btn btn-danger">Sil</a></td>
    <td><a href="/Deneyim/DeneyimGetir/@p.ID" class="btn btn-warning">Düzenle</a></td>
</tr>
    }

</table>
<a href="/Deneyim/DeneyimEkle/" class="btn btn-primary">Yeni Deneyim Ekle</a>

